div {
  border: 2px solid black;
  margin: 10px;
  padding-left: 15px;
  background-color: white;
}

h1 {
  text-align: center;
}
body {
  background-color: #a4dbc4;
}
img {
  float:right;
  margin-right: 10%;

}
