/* base color: #FFEAE8 */

main h1 {
  text-align: center;
  color:#7FB396;
  font-size: 50px;
}
nav, h1, h2 {
  color: #E8FFF2;
  text-shadow: 2px 2px pink;
}

body {
  margin:20px;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #B39391;
}

p, ul {
  font-size: 18px;
}

h2 {
  font-size: 30px;
}
#content {
  padding: 20px;
  border: 5px dashed #FFFFFF;
  background-color: #ffeae8;
}

nav {
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 5px dashed #FFFFFF;
  background-color: #7FB396;
}
ul li {
  color: #E8FFF2;
}
.ul_li_class, ol li {
  color: #FFEAE8;
}


#ProfilePic {
  float: right;
}
