h1 {
  text-align: center;
  font-size: 36px;
  text-shadow: 3px 3px 3px yellow;
}

h2, h3 {
  font-size: 30px;
  text-shadow: 2px 2px #95edea;
}
body {
  margin: 50px;
  background-color: #b8f2e9;
}

p {
  font-size: 20px;
}
#wholebox {
  border: 5px solid #96e388;
  padding: 20px;
  background-color: white;
}
