body {
  background-color: #1D8FFF;
}

#context {
  border: 4px dashed white;
  padding: 1.5%;
  margin-bottom: 2%;
  margin-top: 2%;
}

h1 {
  text-align: center;
  text-shadow: 3px 4px 8px dodgerblue;
  font-family: papyrus;
}

#debug {
  border: 3.5px dashed white;
  padding: 1.5%;
}

div {
  margin: 1.5%;
  background-color: #57D9FF;
  background-color: #FFCD9C;
}

h2 {
  color: dodgerblue;
  text-decoration: underline;
  font-size: 160%;
}

p {
  font-size: 115%;
}
